In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import skimage.io
import scipy.ndimage.morphology as ndimage

import re
import nltk
from nltk.corpus import stopwords

# Image

In [2]:
img = skimage.io.imread('images/hamburger.jpg')

In [3]:
red_mean = np.average(img[:, :, 0])
green_mean = np.average(img[:, :, 1])
blue_mean = np.average(img[:, :, 2])

In [4]:
max([red_mean, green_mean, blue_mean])

90.08790156373304

In [5]:
binary_opened_blue_layer = ndimage.binary_opening(img[:, :, 2], structure=np.ones((3,3)))
np.unique(binary_opened_blue_layer, return_counts=True)

(array([False,  True]), array([ 78134, 182908], dtype=int64))

# Text

In [6]:
with open('PrideAndPrejudice.txt') as file:
    text = file.read()

In [7]:
words = re.split('[^a-zA-Z]', text)
words = list(filter(None, (word.lower() for word in words)))

In [8]:
words.count('pride')

52

In [9]:
words.count('prejudice')

10

In [13]:
stop = set(stopwords.words("english"))
words = np.array([w for w in words if w not in stop])

In [24]:
count_by_word = np.unique(words, return_counts=True)
words_table = pd.DataFrame({'words': count_by_word[0], 'count': count_by_word[1]})
words_table.sort_values('count', ascending=False)

            words  count
3723           mr    785
1913    elizabeth    634
1289        could    527
6353        would    470
1380        darcy    418
...           ...    ...
3065  ingratitude      1
3067      inherit      1
3068    inherited      1
3070   inhumanity      1
6386       youths      1

[6387 rows x 2 columns]